body {
    background-color: aqua;
}

.nav {
    background-color: whitesmoke;
    text-align: right;
}

.div1 {
    background-color: aqua;
}

.form1 {
    background-color: whitesmoke;
    
}

.inputform {
    padding: auto;
}